{% extends "shop/shared/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="category-area4 py-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title"><img src="assets/img/icon/category.svg" alt="">Our Category</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for category in categories.all %}
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="{{ category.get_absolute_url }}">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{{ category.image.url }}" alt="">
                            </div>
                            <div class="content">
                                <h4>{{ category.name }}</h4>
                                <p>{{ category.products_count }} Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}