{% extends "shop/shared/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="shop-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title"><img src="{% static 'shop/img/icon/new.svg' %}" alt="">Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 col-lg-3">
                <div class="product-item">
                    <div class="product-img">
                        {% if product.discount > 0 %}
                        <span class="type discount">{{ product.discount_formatted }}% Off</span>
                        {% endif %}
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="shop-single.html">Bluetooth Earphones</a></h3>
                        <div class="product-rate">
                            {% for i in "12345" %}
                            {% if forloop.counter <= product.rating %} <i class="fas fa-star"></i>
                                {% else %}
                                <i class="far fa-star"></i>
                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="product-bottom">
                            <div class="product-price">
                                {% if product.discount > 0%}
                                <del>${{ product.price }}</del>
                                <span>${{ product.discounted_price }}</span>
                                {% else %}
                                <span>${{ product.price }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="text-center mt-4">
                    <a href="{% url 'shop:product_list' %}" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}