{% extends "pages/shared/layouts/base.html" %}
{% load static %}

{% block content %}
<!-- Begin main content -->
<div class="section section-animate-items" data-body-columns="4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-center section-heading-animate">
                    <div class="section-subheading">Multipurpose online store</div>
                    <h1>Products</h1>
                </div>
            </div>
        </div>
        <!-- Begin shop sorting -->
        <div class="row gutters-20 align-items-center shop-sorting animate-item">
            <div class="col-lg-4 col-md-6 col-auto">
                <div class="shop-sorting-items">
                    <div class="shop-sorting-item shop-filter-toggle">
                        <a class="btn btn-with-icon btn-border btn-small ripple side-open" data-side=".sidebar-filters">
                            <i class="material-icons btn-icon-left md-22">filter_list</i>
                            <span>Filters</span>
                        </a>
                    </div>
                    <div class="shop-sorting-item shop-result-count d-none d-md-block">Showing 1–12 of 44 results</div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col">
                <div class="shop-sorting-items justify-content-end">
                    <div class="d-none d-lg-block">
                        <ul class="shop-sorting-item list-style-none orderby-list hl-list">
                            <li class="active"><a class="hover-link" href="#!" data-title="Popularity"><span>Popularity</span></a></li>
                            <li><a href="#!" class="hover-link" data-title="Latest"><span>Latest</span></a></li>
                            <li><a href="#!" class="hover-link" data-title="Low price first"><span>Low price first</span></a></li>
                            <li><a href="#!" class="hover-link" data-title="High price first"><span>High price first</span></a></li>
                            <li><a href="#!" class="hover-link" data-title="Rating"><span>Rating</span></a></li>
                        </ul>
                    </div>
                    <div class="d-none d-md-block shop-sorting-item">
                        <ul class="list-style-none shop-gridlist-toggle">
                            <li class="active">
                                <a href="shop.html">
                                    <i class="material-icons md-20">grid_view</i>
                                </a>
                            </li>
                            <li>
                                <a href="shop-list.html">
                                    <i class="material-icons md-20">format_list_bulleted</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form class="shop-sorting-item shop-ordering d-lg-none" action="#!" method="get">
                        <div class="form-field form-field-small form-field-m0">
                            <div class="select">
                                <select name="orderby" class="shop-orderby" aria-label="Shop order">
                                    <option value="menu_order" selected="selected">Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- End shop sorting -->
        <div class="row gutters-20">
            <div class="col-12">
                <aside class="sidebar sidebar-filters sidebar-filters-desktop items">
                    <div class="sidebar-item sidebar-item-style item">
                        <p class="sidebar-item-heading item-heading">Product categories</p>
                        <ul class="sidebar-cat hl-list sidebar-cat-tree">
                            <li class="sidebar-cat-item active">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Food & Grocery"><span>Food & Grocery</span></a>
                            </li>
                            <li class="sidebar-cat-item sidebar-cat-item-has-child open">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Clothing">
                                    <span>Clothing</span>
                                    <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                </a>
                                <ul style="display: block;">
                                    <li><a href="#!" class="hover-link" data-title="Jackets, coats"><span>Jackets, coats</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="Sweaters"><span>Sweaters</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="Dresses"><span>Dresses</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="Hoodies"><span>Hoodies</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="Jeans"><span>Jeans</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="Shirts"><span>Shirts</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="Blouses"><span>Blouses</span></a></li>
                                    <li><a href="#!" class="hover-link" data-title="T-shirts"><span>T-shirts</span></a></li>
                                </ul>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Electronics & Computers"><span>Electronics & Computers</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Furniture"><span>Furniture</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Beauty & Health"><span>Beauty & Health</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Garden & Kitchen"><span>Garden & Kitchen</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Jewelry"><span>Jewelry</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Sports & Outdoors"><span>Sports & Outdoors</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Tools & Parts"><span>Tools & Parts</span></a>
                            </li>
                            <li class="sidebar-cat-item">
                                <a href="#!" class="sidebar-cat-link hover-link" data-title="Uncategorized"><span>Uncategorized</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-item sidebar-item-style item">
                        <div class="sidebar-item-row">
                            <p class="sidebar-item-heading item-heading">Filter by price</p>
                            <div class="slider-range-outer">
                                <div class="ui-slider-outer">
                                    <div id="filter-by-price"></div>
                                </div>
                                <div class="slider-range-info">
                                    <div class="slider-range-item">$<span class="sri1">8</span></div>
                                    <div class="slider-range-item">$<span class="sri2">54</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item-row">
                            <p class="sidebar-item-heading item-heading">Filter by Color</p>
                            <ul class="filter-by-color">
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #FFD43D;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #DCDCDC;"></span></a>
                                </li>
                                <li>
                                    <a href="#!" class="fbc-link-border"><span class="fbc-label" style="background-color: #ffffff;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #000000;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #6AD87C;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #FF4949;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #49F4FF;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #923DFF;"></span></a>
                                </li>
                                <li>
                                    <a href="#!"><span class="fbc-label" style="background-color: #E745C3;"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-item-row">
                            <p class="sidebar-item-heading item-heading">Filter by Size</p>
                            <ul class="filter-by-checkbox">
                                <li><a href="#!">XS</a></li>
                                <li><a href="#!">S</a></li>
                                <li><a href="#!">M</a></li>
                                <li><a href="#!">L</a></li>
                                <li><a href="#!">XL</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-close"><i class="material-icons md-24">close</i></div>
                </aside>
            </div>
            <div class="col-12">
                <!-- Begin catalog -->
                <div class="row gutters-20 catalog">
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img1-d.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                                <div class="badges card-badges">
                                    <div class="badge badge-danger">sale</div>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Green seedless grapes">Green seedless grapes</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$16.50</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img1-e.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Electronics & Computers">Electronics & Computers</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Nikon AF-P DX Nikkor">Nikon AF-P DX Nikkor</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$187.26</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img1-b.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                                <div class="badges card-badges">
                                    <div class="badge badge-success">new</div>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Beauty & Health">Beauty & Health</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="8th Muse">8th Muse</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$43.00</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img2-b.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star_border</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Beauty & Health">Beauty & Health</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Kosas lipstick">Kosas lipstick</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <i class="material-icons md-72">hide_image</i>
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star_border</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Strawberries">Strawberries</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-old-price">$43.70</div>
                                        <div class="card-price">$37.50</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img4-d.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                                <div class="badges card-badges">
                                    <div class="badge badge-warning">recommended</div>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Cherries">Cherries</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-old-price">$25.30</div>
                                        <div class="card-price">$21.00</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img5-d.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Lean beef steak mince">Lean beef steak mince</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-old-price">$15.00</div>
                                        <div class="card-price">$13.50</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img3-e.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Electronics & Computers">Electronics & Computers</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Apples">Nikon 3X optical zoom</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-old-price">$154.20</div>
                                        <div class="card-price">$123.90</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img7-d.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="British chicken">British chicken</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$27.60</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img2-e.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Electronics & Computers">Electronics & Computers</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="GoPro">GoPro</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$156.00</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img10-d.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="8 large tortilla wraps">8 large tortilla wraps</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$32.50</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 card-item animate-item">
                        <!-- Begin card -->
                        <div class="card card-grid item-style card-fhalf">
                            <header class="card-header">
                                <a href="product-single.html" class="card-image el">
                                    <img data-src="assets/img/shop/s-img11-d.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                </a>
                                <div class="card-actions">
                                    <button class="card-action-btn el-ripple card-action-wishlist">
                                        <i class="material-icons md-22">favorite_border</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-compare">
                                        <i class="material-icons md-22">compare_arrows</i>
                                    </button>
                                    <button class="card-action-btn el-ripple card-action-preview card_preview_popup_open">
                                        <i class="material-icons material-icons-outlined md-22">remove_red_eye</i>
                                    </button>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-info-inner">
                                    <ul class="list-style-none card-rating">
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                        <li><i class="material-icons md-18">star</i></li>
                                    </ul>
                                    <div class="card-posted-in">
                                        <a href="#!" class="card-category" title="Food & Grocery">Food & Grocery</a>
                                    </div>
                                    <h3 class="item-heading card-heading">
                                        <a href="product-single.html" title="Breaded british chicken breast goujons">Breaded british chicken breast goujons</a>
                                    </h3>
                                    <div class="card-prices">
                                        <div class="card-price">$54.00</div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#!" class="btn btn-small ripple" aria-label="Add 'Current title' to your cart" rel="nofollow">
                                    <span>Add to cart</span>
                                </a>
                            </footer>
                        </div><!-- End card -->
                    </div>
                </div><!-- End catalog -->
                <div class="row">
                    <div class="col-12">
                        <br>
                        <!-- Begin pagination -->
                        <nav class="pagination">
                            <ul class="pagination-list">
                                <li class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled"><a href="#!"><i class="material-icons md-24">chevron_left</i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">4</a></li>
                                <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i class="material-icons md-24">chevron_right</i></a></li>
                            </ul>
                        </nav><!-- End pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}