{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Goemart - {{ page_title }}</title>
<link rel="shortcut icon" href="{% static 'shop/img/logo/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/all-fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/magnific-popup.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/flex-slider.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/nice-select.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/style.css' %}">