    <!-- footer area -->
    <footer class="footer-area2 bg-white">
        <div class="footer-widget">
            <div class="container">
                <div class="row footer-widget-wrapper pt-100 pb-50">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box about-us">
                            <a href="index-10.html#" class="footer-logo">
                                <img src="assets/img/logo/logo.png" alt="">
                            </a>
                            <p class="mb-2">
                                We are many variations of the passages available but the majoro have suffered.
                            </p>
                            <div class="footer-call mb-1">
                                <div class="footer-call-icon">
                                    <i class="fal fa-headset"></i>
                                </div>
                                <div class="footer-call-info">
                                    <p>24/7 Need Any Help?</p>
                                    <a href="tel:+21236547898">(+2) 222 666 7777</a>
                                </div>
                            </div>
                            <ul class="footer-contact">
                                <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York</li>
                                <li><a href="../cdn-cgi/l/email-protection.html#ef86818980af8a978e829f838ac18c8082"><i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="741d1a121b34110c15190418115a171b19">[email&#160;protected]</span></a></li>
                                <li><i class="far fa-clock"></i>Mon-Fri (9.00AM - 8.00PM)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Quick Links</h4>
                            <ul class="footer-list">
                                <li><a href="index-10.html#">About Us</a></li>
                                <li><a href="index-10.html#">Become A Seller</a></li>
                                <li><a href="index-10.html#">Contact Us</a></li>
                                <li><a href="index-10.html#">Update News</a></li>
                                <li><a href="index-10.html#">Testimonials</a></li>
                                <li><a href="index-10.html#">Terms Of Service</a></li>
                                <li><a href="index-10.html#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Browse Category</h4>
                            <ul class="footer-list">
                                <li><a href="index-10.html#">Accessories</a></li>
                                <li><a href="index-10.html#">Home & Garden</a></li>
                                <li><a href="index-10.html#">Electronics</a></li>
                                <li><a href="index-10.html#">Health & Beauty</a></li>
                                <li><a href="index-10.html#">Groceries</a></li>
                                <li><a href="index-10.html#">Baby Toys</a></li>
                                <li><a href="index-10.html#">Music & Video</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Support Center</h4>
                            <ul class="footer-list">
                                <li><a href="index-10.html#">FAQ's</a></li>
                                <li><a href="index-10.html#">How To Buy</a></li>
                                <li><a href="index-10.html#">Support Center</a></li>
                                <li><a href="index-10.html#">Track Your Order</a></li>
                                <li><a href="index-10.html#">Returns Policy</a></li>
                                <li><a href="index-10.html#">Our Affiliates</a></li>
                                <li><a href="index-10.html#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Newsletter</h4>
                            <p>Subscribe Our Newsletter To Get Latest Update And News.</p>
                            <div class="footer-newsletter">
                                <div class="subscribe-form">
                                    <form action="index-10.html#">
                                        <input type="email" class="form-control" placeholder="Email Address">
                                        <button class="theme-btn" type="submit">
                                            <i class="far fa-paper-plane"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="footer-download mt-30">
                                <h5>Get Our Mobile App</h5>
                                <div class="footer-download-btn">
                                    <a href="index-10.html#">
                                        <i class="fab fa-google-play"></i>
                                        <div class="download-btn-info">
                                            <span>Get It On</span>
                                            <h6>Google Play</h6>
                                        </div>
                                    </a>
                                    <a href="index-10.html#">
                                        <i class="fab fa-app-store"></i>
                                        <div class="download-btn-info">
                                            <span>Get It On</span>
                                            <h6>App Store</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="footer-top-link">
                            <h5>Top Links</h5>
                            <div class="footer-top-link-info">
                                <a href="index-10.html#">Top Sellers</a>
                                <a href="index-10.html#">New Arrivals</a>
                                <a href="index-10.html#">Accessories</a>
                                <a href="index-10.html#">Electronics</a>
                                <a href="index-10.html#">Groceries</a>
                                <a href="index-10.html#">Beauty</a>
                                <a href="index-10.html#">Health</a>
                                <a href="index-10.html#">Baby Toys</a>
                                <a href="index-10.html#">Music</a>
                                <a href="index-10.html#">Furniture</a>
                                <a href="index-10.html#">Gifts</a>
                                <a href="index-10.html#">Sports</a>
                                <a href="index-10.html#">Automotive</a>
                                <a href="index-10.html#">Watch</a>
                                <a href="index-10.html#">Sitemap</a>
                                <a href="index-10.html#">Our Affiliates</a>
                                <a href="index-10.html#">Returns Policy</a>
                                <a href="index-10.html#">Video</a>
                                <a href="index-10.html#">Home & Garden</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copyright-wrap">
                    <div class="row">
                        <div class="col-12 col-lg-4 align-self-center">
                            <div class="footer-payment">
                                <span>We Accept:</span>
                                <img src="https://live.themewild.com/goemart/assets//img/payment/visa.svg" alt="">
                                <img src="https://live.themewild.com/goemart/assets//img/payment/mastercard.svg" alt="">
                                <img src="https://live.themewild.com/goemart/assets//img/payment/amex.svg" alt="">
                                <img src="https://live.themewild.com/goemart/assets//img/payment/discover.svg" alt="">
                                <img src="https://live.themewild.com/goemart/assets//img/payment/paypal.svg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 align-self-center">
                            <p class="copyright-text">
                                &copy; Copyright <span id="date"></span> <a href="index-10.html#"> Goemart </a> All Rights Reserved.
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 align-self-center">
                            <div class="footer-social">
                                <span>Follow Us:</span>
                                <a href="index-10.html#"><i class="fab fa-facebook-f"></i></a>
                                <a href="index-10.html#"><i class="fab fa-twitter"></i></a>
                                <a href="index-10.html#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="index-10.html#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->