        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                            <div class="header-top-left">
                                <ul class="header-top-list">
                                    <li><a href="../cdn-cgi/l/email-protection.html#c6afa8a0a986a3bea7abb6aaa3e8a5a9ab"><i class="far fa-envelopes"></i>
                                            <span class="__cf_email__" data-cfemail="dcb5b2bab39cb9a4bdb1acb0b9f2bfb3b1">[email&#160;protected]</span></a></li>
                                    <li><a href="tel:+21236547898"><i class="far fa-headset"></i> +2 123 654
                                            7898</a></li>
                                    <li class="help"><a href="index-10.html#"><i class="far fa-comment-question"></i> Need Help?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-7">
                            <div class="header-top-right">
                                <ul class="header-top-list">
                                    <li><a href="index-10.html#"><i class="far fa-alarm-clock"></i> Daily Deal</a></li>
                                    <li class="account"><a href="index-10.html#"><i class="far fa-user-vneck"></i> Account</a></li>
                                    <li class="login"><a href="index-10.html#"><i class="far fa-arrow-right-to-arc"></i> Login</a>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <a href="index-10.html#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="far fa-usd"></i> USD
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="index-10.html#">USD</a>
                                                <a class="dropdown-item" href="index-10.html#">EUR</a>
                                                <a class="dropdown-item" href="index-10.html#">AUD</a>
                                                <a class="dropdown-item" href="index-10.html#">CUD</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <a href="index-10.html#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="far fa-globe-americas"></i> EN
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="index-10.html#">EN</a>
                                                <a class="dropdown-item" href="index-10.html#">FR</a>
                                                <a class="dropdown-item" href="index-10.html#">DE</a>
                                                <a class="dropdown-item" href="index-10.html#">RU</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="social">
                                        <div class="header-top-social">
                                            <span>Follow Us: </span>
                                            <a href="index-10.html#"><i class="fab fa-facebook"></i></a>
                                            <a href="index-10.html#"><i class="fab fa-twitter"></i></a>
                                            <a href="index-10.html#"><i class="fab fa-instagram"></i></a>
                                            <a href="index-10.html#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>