{% extends "shop/shared/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="category-area2 py-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Our Category</span>
                    <h2 class="site-title">Browse Product By <span>Category</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for category in categories.home_last %}
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="{{ category.get_absolute_url }}">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{{ category.image.url }}" alt="">
                            </div>
                            <div class="content">
                                <h4>{{ category.name }}</h4>
                                <p>{{ category.products_count }} Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="text-center mt-4">
                    <a href="{% url 'shop:category_list' %}" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title"><img src="{% static 'shop/img/icon/brand.svg' %}" alt="">Popular Brands</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for brand in brands.all %}
            <div class="col-md-6 col-lg-2">
                <div class="brand-item">
                    <img src="{{ brand.logo.url }}" alt="Brand">
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="text-center mt-4">
                    <a href="{% url 'shop:brand_list' %}" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title"><img src="{% static 'shop/img/icon/new.svg' %}" alt="">Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products.home_last %}
            <div class="col-md-4 col-lg-3">
                <div class="product-item">
                    <div class="product-img">
                        {% if product.discount > 0 %}
                        <span class="type discount">{{ product.discount_formatted }}% Off</span>
                        {% endif %}
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="shop-single.html">Bluetooth Earphones</a></h3>
                        <div class="product-rate">
                            {% for i in "12345" %}
                            {% if forloop.counter <= product.rating %} <i class="fas fa-star"></i>
                                {% else %}
                                <i class="far fa-star"></i>
                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="product-bottom">
                            <div class="product-price">
                                {% if product.discount > 0%}
                                <del>${{ product.price }}</del>
                                <span>${{ product.discounted_price }}</span>
                                {% else %}
                                <span>${{ product.price }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="text-center mt-4">
                    <a href="{% url 'shop:product_list' %}" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}