{% load static %}

<script src="{% static 'shop/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'shop/js/modernizr.min.js' %}"></script>
<script src="{% static 'shop/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'shop/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'shop/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.appear.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'shop/js/flex-slider.js' %}"></script>
<script src="{% static 'shop/js/counter-up.js' %}"></script>
<script src="{% static 'shop/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'shop/js/countdown.min.js' %}"></script>
<script src="{% static 'shop/js/wow.min.js' %}"></script>
<script src="{% static 'shop/js/apexcharts.min.js' %}"></script>
<script src="{% static 'shop/js/apexchart-custom.js' %}"></script>
<script src="{% static 'shop/js/contact-form.js' %}"></script>
<script src="{% static 'shop/js/main.js' %}"></script>