<div class="header-top">
    <div class="container">
        <div class="header-top-wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                    <div class="header-top-left">
                        <ul class="header-top-list">
                            <li><a href="../cdn-cgi/l/email-protection.html#aac3c4ccc5eacfd2cbc7dac6cf84c9c5c7"><i class="far fa-envelopes"></i>
                                    <span class="__cf_email__" data-cfemail="a6cfc8c0c9e6c3dec7cbd6cac388c5c9cb">[email&#160;protected]</span></a></li>
                            <li><a href="tel:+21236547898"><i class="far fa-headset"></i> +2 123 654
                                    7898</a></li>
                            <li class="help"><a href="index-4.html#"><i class="far fa-comment-question"></i> Need Help?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-7">
                    <div class="header-top-right">
                        <ul class="header-top-list">
                            <li><a href="index-4.html#"><i class="far fa-alarm-clock"></i> Daily Deal</a></li>
                            <li><a href="index-4.html#"><i class="far fa-universal-access"></i> Best Sellers</a></li>
                            <li>
                                <div class="dropdown">
                                    <a href="index-4.html#" class="dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="far fa-usd"></i> USD
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="index-4.html#">USD</a>
                                        <a class="dropdown-item" href="index-4.html#">EUR</a>
                                        <a class="dropdown-item" href="index-4.html#">AUD</a>
                                        <a class="dropdown-item" href="index-4.html#">CUD</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="index-4.html#" class="dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="far fa-globe-americas"></i> EN
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="index-4.html#">EN</a>
                                        <a class="dropdown-item" href="index-4.html#">FR</a>
                                        <a class="dropdown-item" href="index-4.html#">DE</a>
                                        <a class="dropdown-item" href="index-4.html#">RU</a>
                                    </div>
                                </div>
                            </li>
                            <li class="social">
                                <div class="header-top-social">
                                    <span>Follow Us: </span>
                                    <a href="index-4.html#"><i class="fab fa-facebook"></i></a>
                                    <a href="index-4.html#"><i class="fab fa-twitter"></i></a>
                                    <a href="index-4.html#"><i class="fab fa-instagram"></i></a>
                                    <a href="index-4.html#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>