<!DOCTYPE html>
<html lang="en">

<head>
    {% include "public/shared/partials/_head.html" %}
</head>

<body class="home-10">
    {% include "public/shared/partials/_preloader.html" %}
    <header class="header">
        {% include "public/shared/partials/_topbar.html" %}
        {% include "public/shared/partials/_middlebar.html" %}
        {% include "public/shared/partials/_navbar.html" %}
    </header>
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    {% include "public/shared/partials/_footer.html" %}
    {% include "public/shared/partials/_scroll.html" %}
    {% include "public/shared/partials/_scripts.html" %}
</body>

</html>