<!DOCTYPE html>
<html lang="en">

<head>
    {% include "pages/shared/partials/head.html" %}
</head>

<body>
    <main class="main">
        <div class="main-inner">
            {% include "pages/shared/partials/mobile_sidebar.html" %}
            {% include "pages/shared/partials/header.html" %}
            {% include "pages/shared/partials/breadcrumbs.html" %}

            {% block content %}
            {% endblock %}
        </div>
        {% include "pages/shared/partials/footer.html" %}
    </main>
    {% include "pages/shared/partials/scripts.html" %}
</body>

</html>