{% load static %}

<script src="{% static 'shop/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'shop/js/modernizr.min.js' %}"></script>
<script src="{% static 'shop/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'shop/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'shop/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.appear.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'shop/js/counter-up.js' %}"></script>
<script src="{% static 'shop/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'shop/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'shop/js/countdown.min.js' %}"></script>
<script src="{% static 'shop/js/wow.min.js' %}"></script>
<script src="{% static 'shop/js/main.js' %}"></script>

{% if settings.snow_mode %}
    <script src="{% static 'shop/js/snowflakes.min.js' %}"></script>
    <script>
        new Snowflakes({
            color: "rgb(64, 115, 158)",
            count: 128,
            minOpacity: 0.32,
            maxOpacity: 0.96,
            minSize: 16,
            maxSize: 32,
            rotation: true,
            speed: 1,
            wind: true,
            zIndex: 9999,
            autoResize: true
        });
    </script>
{% endif %}