{% load static %}

<div class="header-top">
    <div class="container">
        <div class="header-top-wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                    <div class="header-top-left">
                        <ul class="header-top-list">
                            {% if settings.email %}
                                <li>
                                    <a href="mailto:{{ settings.email }}">
                                        <i class="far fa-envelopes"></i>
                                        {{ settings.email }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.phone %}
                                <li>
                                    <a href="tel:+21236547898"><i class="far fa-headset"></i>
                                        +2 123 654 7898
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-7">
                    <div class="header-top-right">
                        <ul class="header-top-list">
                            <li class="login">
                                <a href="{% url 'shop:login' %}">
                                    <i class="fa-regular fa-arrow-right-to-bracket"></i>
                                    Login
                                </a>
                            </li>
                            <li class="login">
                                <a href="{% url 'shop:register' %}">
                                    <i class="fa-regular fa-user"></i>
                                    Register
                                </a>
                            </li>
                            {% if settings.facebook or settings.twitter or settings.instagram or settings.linkedin %}
                                <li class="social">
                                    <div class="header-top-social">
                                        <span>Follow Us:</span>
                                        {% if settings.facebook %}
                                            <a href="{{ settings.facebook }}"><i class="fab fa-facebook"></i></a>
                                        {% endif %}

                                        {% if settings.twitter %}
                                            <a href="{{ settings.twitter }}"><i class="fab fa-twitter"></i></a>
                                        {% endif %}

                                        {% if settings.instagram %}
                                            <a href="{{ settings.instagram }}"><i class="fab fa-instagram"></i></a>
                                        {% endif %}

                                        {% if settings.linkedin %}
                                            <a href="{{ settings.linkedin }}"><i class="fab fa-linkedin"></i></a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>