{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PathSoft - {{ page_title|default:"Undefined" }}</title>
<link rel="shortcut icon" href="{% static 'pages/img/favicon/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'pages/vendors/flickity/flickity.css' %}">
<link rel="stylesheet" href="{% static 'pages/vendors/flickity/flickity-fade.css' %}">
<link rel="stylesheet" href="{% static 'pages/vendors/lightgallery/css/lightgallery.css' %}">
<link rel="stylesheet" href="{% static 'pages/vendors/lightgallery/css/lg-zoom.css' %}">
<link rel="stylesheet" href="{% static 'pages/vendors/lightgallery/css/lg-thumbnail.css' %}">
<link rel="stylesheet" href="{% static 'pages/vendors/lightgallery/css/lg-video.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/ecommerce.css' %}">
{% block extra_css %}{% endblock %}