{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blueberry - {{ page_title|default:"Undefined" }}</title>
<link rel="shortcut icon" href="{% static 'pages/img/favicon/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'pages/css/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/remixicon.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/aos.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/vendor/jquery-range-ui.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/dark.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">