{% load static navlink %}

<nav class="header-fixed">
    <div class="container">
        <div class="row flex-nowrap align-items-center justify-content-between">
            <div class="col-auto d-block d-xl-none header-fixed-col">
                <div class="main-mnu-btn">
                    <span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                    <span class="bar bar-3"></span>
                    <span class="bar bar-4"></span>
                </div>
            </div>
            <div class="col-auto header-fixed-col logo-wrapper">
                <a href="{% url 'pages:home' %}" class="logo" title="PathSoft">
                    <img src="{% static 'pages/img/logo.svg' %}" width="133" height="36" alt="PathSoft">
                </a>
            </div>
            <div class="col-auto col-xl col-static header-fixed-col">
                <div class="row flex-nowrap align-items-center justify-content-end">
                    <div class="col header-fixed-col d-none d-xl-block col-static">
                        <nav class="main-mnu">
                            <ul class="main-mnu-list">
                                <li class="{% navlink request 'pages:home' exact_match=True %}">
                                    <a href="{% url 'pages:home' %}" data-title="Home">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="{% navlink request 'pages:about' exact_match=True %}">
                                    <a href="{% url 'pages:about' %}" data-title="About">
                                        <span>About</span>
                                    </a>
                                </li>
                                <li class="{% navlink request 'pages:contacts' exact_match=True %}">
                                    <a href="{% url 'pages:contacts' %}" data-title="Contacts">
                                        <span>Contacts</span>
                                    </a>
                                </li>
                                <li class="{% navlink request 'pages:faq' exact_match=True %}">
                                    <a href="{% url 'pages:faq' %}" data-title="FAQ">
                                        <span>FAQ</span>
                                    </a>
                                </li>
                                <li class="{% navlink request 'pages:gallery' exact_match=True %}">
                                    <a href="{% url 'pages:gallery' %}" data-title="Gallery">
                                        <span>Gallery</span>
                                    </a>
                                </li>
                                {% if categories.navbar %}
                                    <li class="menu-item-has-children {% navlink request 'pages:category_list' %}">
                                        <a href="{% url 'pages:category_list' %}" data-title="Categories">
                                            <span>Categories</span>
                                            <i class="material-icons">expand_more</i>
                                        </a>
                                        <ul>
                                            {% for category in categories.navbar %}
                                                <li class="{% navlink request 'pages:category_products' slug_id=category.slug %}">
                                                    <a href="{{ category.get_absolute_url }}" data-title="{{ category.name }}">
                                                        <span>{{ category.name }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto header-fixed-col col-static">
                        <ul class="header-actions">
                            <li class="d-none d-lg-block">
                                <div class="header-lang">
                                    <div class="header-lang-current">
                                        <i class="material-icons md-22">language</i>
                                    </div>
                                    <ul class="header-lang-list">
                                        <li class="active">
                                            <a href="javascript:void();" class="hover-link" data-lang="en" data-title="English">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void();" class="hover-link" data-lang="az" data-title="Azerbaijani">
                                                <span>Azerbaijani</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void();" class="hover-link" data-lang="ru" data-title="Russian">
                                                <span>Russian</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="header-search">
                                    <div class="header-action-icon header-search-ico">
                                        <i class="material-icons md-22 header-search-ico-search">search</i>
                                        <i class="material-icons md-22 header-search-ico-close">close</i>
                                    </div>
                                    <form class="header-search-form">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-field">
                                                        <label for="field-search" class="form-field-label">Search...</label>
                                                        <input type="search" class="form-field-input" name="Search" value="" autocomplete="off" id="field-search">
                                                        <button type="submit" class="header-search-btn">
                                                            <i class="material-icons md-22">search</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="d-block d-lg-none">
                                <div class="header-navbar">
                                    <div class="header-navbar-btn">
                                        <i class="material-icons md-24">more_vert</i>
                                    </div>
                                    <ul class="header-navbar-content">
                                        {% if settings.email %}
                                            <li>
                                                <a href="mailto:{{ settings.email }}">
                                                    <i class="material-icons md-20">mail_outline</i>
                                                    <span>{{ settings.email }}</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.phone %}
                                            <li>
                                                <a href="tel:{{ settings.phone }}" class="formingHrefTel">
                                                    <i class="material-icons md-20">support_agent</i>
                                                    <span>{{ settings.phone }}</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if settings.working_time %}
                                            <li>
                                                <i class="material-icons md-20">schedule</i>
                                                <span>{{ settings.working_time }}</span>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <ul class="widget-socials">
                                                {% if settings.facebook %}
                                                    <li>
                                                        <a href="{{ settings.facebook }}" title="Facebook">
                                                            <svg viewBox="0 0 320 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#facebook-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if settings.instagram %}
                                                    <li>
                                                        <a href="{{ settings.instagram }}" title="Instagram">
                                                            <svg viewBox="0 0 448 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#instagram-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if settings.linkedin %}
                                                    <li>
                                                        <a href="{{ settings.linkedin }}" title="LinkedIn">
                                                            <svg viewBox="0 0 448 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#linkedin-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if settings.twitter %}
                                                    <li>
                                                        <a href="{{ settings.twitter }}" title="Twitter">
                                                            <svg viewBox="0 0 512 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#twitter-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>