{% load static %}

<!-- Begin header fixed -->
    <nav class="header-fixed">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between">
                <div class="col-auto d-block d-xl-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
                <div class="col-auto header-fixed-col logo-wrapper">
                    <!-- Begin logo -->
                    <a href="../index.html" class="logo" title="PathSoft">
                        <img src="{% static 'pages/img/logo.svg' %}" width="133" height="36" alt="PathSoft">
                    </a><!-- End logo -->
                </div>
                <div class="col-auto col-xl col-static header-fixed-col">
                    <div class="row flex-nowrap align-items-center justify-content-end">
                        <div class="col header-fixed-col d-none d-xl-block col-static">
                            <!-- Begin main menu -->
                            <nav class="main-mnu">
                                <ul class="main-mnu-list">
                                    <li class="menu-item-has-children">
                                        <a href="index.html" data-title="Home">
                                            <span>Home</span>
                                            <i class="material-icons">expand_more</i>
                                        </a>
                                        <ul>
                                            <li><a href="index.html" data-title="Home 1"><span>Home 1</span></a></li>
                                            <li><a href="home-2.html" data-title="Home 2"><span>Home 2</span></a></li>
                                            <li><a href="home-3.html" data-title="Home 3"><span>Home 3</span></a></li>
                                            <li><a href="home-4.html" data-title="Home 4"><span>Home 4</span></a></li>
                                            <li><a href="home-5.html" data-title="Home 5"><span>Home 5</span></a></li>
                                            <li><a href="home-6.html" data-title="Home 6"><span>Home 6</span></a></li>
                                            <li><a href="home-shop-1.html" data-title="Grocery"><span>Grocery</span>
                                                    <div>
                                                        <div class="badge badge-danger">Store</div>
                                                    </div>
                                                </a></li>
                                            <li><a href="home-shop-2.html" data-title="Electronics"><span>Electronics</span>
                                                    <div>
                                                        <div class="badge badge-danger">Store</div>
                                                    </div>
                                                </a></li>
                                            <li><a href="home-shop-3.html" data-title="Shoe"><span>Shoe</span>
                                                    <div>
                                                        <div class="badge badge-danger">Store</div>
                                                    </div>
                                                </a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu menu-item-has-children">
                                        <a href="404.html#!" data-title="Sections"><span>Sections</span>
                                            <div>
                                                <i class="material-icons">expand_more</i>
                                                <div class="badge badge-danger">Hot</div>
                                            </div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="404.html#!" data-title="Section 1">
                                                    <span>Section 1</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="section-base.html" data-title="Section base">
                                                            <span>Section base</span>
                                                            <div>
                                                                <div class="badge badge-primary">Default</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-intro.html" data-title="Intro">
                                                            <span>Intro</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-about.html" data-title="About">
                                                            <span>About</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-about-tabs-carousel.html" data-title="About Tabs/Carousel">
                                                            <span>About Tabs/Carousel</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-about-circular-icons.html" data-title="About circular icons">
                                                            <span>About circular icons</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-items-of-numbers.html" data-title="Items of numbers">
                                                            <span>Items of numbers</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-counters.html" data-title="Counters">
                                                            <span>Counters</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-process-steps.html" data-title="Process steps">
                                                            <span>Process steps</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-testimonials.html" data-title="Testimonials">
                                                            <span>Testimonials</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="404.html#!" data-title="Section 2">
                                                    <span>Section 2</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="section-image-items-type-1.html" data-title="Image items | Type 1">
                                                            <span>Image items | Type 1</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-image-items-type-2.html" data-title="Image items | Type 2">
                                                            <span>Image items | Type 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-image-items-type-3.html" data-title="Image items | Type 3">
                                                            <span>Image items | Type 3</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-image-items-type-4.html" data-title="Image items | Type 4">
                                                            <span>Image items | Type 4</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-icon-items-type-1.html" data-title="Icon items | Type 1">
                                                            <span>Icon items | Type 1</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-icon-items-type-2.html" data-title="Icon items | Type 2">
                                                            <span>Icon items | Type 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-icon-items-type-3.html" data-title="Icon items | Type 3">
                                                            <span>Icon items | Type 3</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-icon-items-type-4.html" data-title="Icon items | Type 4">
                                                            <span>Icon items | Type 4</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-countdown.html" data-title="Countdown">
                                                            <span>Countdown</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="404.html#!" data-title="Section 3">
                                                    <span>Section 3</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="section-image-comparison.html" data-title="Image Comparison">
                                                            <span>Image Comparison</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="careers.html" data-title="Careers">
                                                            <span>Careers</span>
                                                        </a>
                                                    </li>
                                                    <li><a href="section-team-type-1.html" data-title="Team | Type 1">
                                                            <span>Team | Type 1</span>
                                                        </a>
                                                    </li>
                                                    <li><a href="section-team-type-2.html" data-title="Team | Type 2">
                                                            <span>Team | Type 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-classic.html" data-title="Gallery Classic">
                                                            <span>Gallery Classic</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-classic-no-padding.html" data-title="Gallery Classic No Padding">
                                                            <span>Gallery Classic No Padding</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-masonry.html" data-title="Gallery Masonry">
                                                            <span>Gallery Masonry</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-masonry-no-padding.html" data-title="Gallery Masonry No Padding">
                                                            <span>Gallery Masonry No Padding</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="404.html#!" data-title="Section 4">
                                                    <span>Section 4</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="section-banner-grid.html" data-title="Banner Grid">
                                                            <span>Banner Grid</span>
                                                            <div>
                                                                <div class="badge badge-danger">Hot</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-progress-bars.html" data-title="Progress bars">
                                                            <span>Progress bars</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-pricing-type-1.html" data-title="Pricing | Type 1">
                                                            <span>Pricing | Type 1</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-pricing-type-2.html" data-title="Pricing | Type 2">
                                                            <span>Pricing | Type 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-pricing-type-3.html" data-title="Pricing | Type 3">
                                                            <span>Pricing | Type 3</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-brands.html" data-title="Brands">
                                                            <span>Brands</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-banner-row.html" data-title="Banner row">
                                                            <span>Banner row</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-tabs-accordions.html" data-title="Tabs &amp; Accordions">
                                                            <span>Tabs &amp; Accordions</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children main-mnu-item-mega-mnu">
                                        <a href="shop.html" data-title="Online store">
                                            <span>Online store</span>
                                            <i class="material-icons">expand_more</i>
                                        </a>
                                        <div class="main-sub-mnu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-3 mega-mnu-item">
                                                        <h5 class="mega-mnu-heading">Shop layouts</h5>
                                                        <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                                            <li><a href="shop-fullwidth.html" data-title="Shop fullwidth"><span>Shop fullwidth</span></a></li>
                                                            <li><a href="shop.html" data-title="Shop left sidebar"><span>Shop left sidebar</span></a></li>
                                                            <li><a href="shop-right-sidebar.html" data-title="Shop right sidebar"><span>Shop right sidebar</span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-3 mega-mnu-item">
                                                        <h5 class="mega-mnu-heading">Product Pages</h5>
                                                        <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                                            <li><a href="product-single.html" data-title="Single Product"><span>Single Product</span></a></li>
                                                            <li><a href="product-single2.html" data-title="Single Product 2"><span>Single Product 2</span></a></li>
                                                            <li><a href="product-variable.html" data-title="Variable Product"><span>Variable Product</span></a></li>
                                                            <li><a href="product-group.html" data-title="Group Product"><span>Group Product</span></a></li>
                                                            <li><a href="product-affiliate.html" data-title="Affiliate Product"><span>Affiliate Product</span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-3 mega-mnu-item">
                                                        <h5 class="mega-mnu-heading">Product Style</h5>
                                                        <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                                            <li><a href="shop.html" data-title="Product Grid Style 1"><span>Product Grid Style 1</span></a></li>
                                                            <li><a href="shop2.html" data-title="Product Grid Style 2"><span>Product Grid Style 2</span></a></li>
                                                            <li><a href="shop3.html" data-title="Product Grid Style 3"><span>Product Grid Style 3</span></a></li>
                                                            <li><a href="shop4.html" data-title="Product Grid Style 4"><span>Product Grid Style 4</span></a></li>
                                                            <li><a href="shop-list.html" data-title="Product List"><span>Product List</span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-3 mega-mnu-item">
                                                        <h5 class="mega-mnu-heading">Shop pages</h5>
                                                        <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                                            <li><a href="cart.html" data-title="Cart"><span>Cart</span></a></li>
                                                            <li><a href="checkout.html" data-title="Checkout"><span>Checkout</span></a></li>
                                                            <li><a href="wishlist.html" data-title="Wishlist"><span>Wishlist</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mega-menu menu-item-has-children menu-item-6282">
                                        <a href="404.html#!" data-title="Pages">
                                            <span>Pages</span>
                                            <div><i class="material-icons">expand_more</i></div>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="404.html#!" data-title="Services List">
                                                    <span>Services List</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="services-icon-1.html" data-title="Services icon 1">
                                                            <span>Services icon 1</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-icon-2.html" data-title="Services icon 2">
                                                            <span>Services icon 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-icon-3.html" data-title="Services icon 3">
                                                            <span>Services icon 3</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-icon-4.html" data-title="Services icon 4">
                                                            <span>Services icon 4</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-image-1.html" data-title="Services image 1">
                                                            <span>Services image 1</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-image-2.html" data-title="Services image 2">
                                                            <span>Services image 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-image-3.html" data-title="Services image 3">
                                                            <span>Services image 3</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-image-4.html" data-title="Services image 4">
                                                            <span>Services image 4</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="404.html#!" data-title="Portfolio List">
                                                    <span>Portfolio List</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="projects-classic.html" data-title="Projects – Classic">
                                                            <span>Projects – Classic</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="projects-box.html" data-title="Projects – Box">
                                                            <span>Projects – Box</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="projects-image-flip.html" data-title="Projects – Image Flip">
                                                            <span>Projects – Image Flip</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="projects-image-hover.html" data-title="Projects – Image Hover">
                                                            <span>Projects – Image Hover</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-classic.html" data-title="Gallery Classic">
                                                            <span>Gallery Classic</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-classic-no-padding.html" data-title="Gallery Classic No Padding">
                                                            <span>Gallery Classic No Padding</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-masonry.html" data-title="Gallery Masonry">
                                                            <span>Gallery Masonry</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="section-gallery-masonry-no-padding.html" data-title="Gallery Masonry No Padding">
                                                            <span>Gallery Masonry No Padding</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="404.html#!" data-title="Single Projects">
                                                    <span>Single Projects</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="single-project-default-slider.html" data-title="Default Slider">
                                                            <span>Default Slider</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-project-image-comparison.html" data-title="Image Comparison">
                                                            <span>Image Comparison</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-project-mobile-kit.html" data-title="Mobile Kit">
                                                            <span>Mobile Kit</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-project-gallery-masonry.html" data-title="Gallery Masonry">
                                                            <span>Gallery Masonry</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-project-gallery-grid.html" data-title="Gallery Grid">
                                                            <span>Gallery Grid</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-project-image-list.html" data-title="Image List">
                                                            <span>Image List</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-project-zig-zag-image-text.html" data-title="Zig Zag Image-Text">
                                                            <span>Zig Zag Image-Text</span>
                                                            <div>
                                                                <div class="badge badge-success">New</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="404.html#!" data-title="Other Pages">
                                                    <span>Other Pages</span>
                                                    <div><i class="material-icons">chevron_right</i></div>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="about-us.html" data-title="About us">
                                                            <span>About us</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="careers.html" data-title="Careers">
                                                            <span>Careers</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-job.html" data-title="Career Single">
                                                            <span>Career Single</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-service.html" data-title="Service Single">
                                                            <span>Service Single</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html" data-title="404: Default">
                                                            <span>404: Default</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="404-2.html" data-title="404: Styles">
                                                            <span>404: Styles</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="404.html#!" data-title="Features">
                                            <span>Features</span>
                                            <i class="material-icons">expand_more</i>
                                        </a>
                                        <ul>
                                            <li><a href="ui.html" data-title="UI elements"><span>UI elements</span>
                                                    <div>
                                                        <div class="badge badge-danger">Hot</div>
                                                    </div>
                                                </a></li>
                                            <li><a href="index-3.html" data-title="Header/Footer Default"><span>Header/Footer Default</span></a></li>
                                            <li><a href="index-2.html" data-title="Header/Footer Minimal"><span>Header/Footer Minimal</span></a></li>
                                            <li><a href="tables.html" data-title="Tables"><span>Tables</span></a></li>
                                            <li><a href="forms.html" data-title="Forms"><span>Forms</span></a></li>
                                            <li><a href="search-results.html" data-title="Search results"><span>Search results</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="news.html" data-title="News">
                                            <span>News</span>
                                            <i class="material-icons">expand_more</i>
                                        </a>
                                        <ul>
                                            <li><a href="news.html" data-title="News List"><span>News List</span></a></li>
                                            <li><a href="news-grid.html" data-title="News Classic"><span>News Classic</span></a></li>
                                            <li><a href="news-grid-2.html" data-title="News Grid"><span>News Grid</span></a></li>
                                            <li><a href="news-right-sidebar.html" data-title="News Right Sidebar"><span>News Right Sidebar</span></a></li>
                                            <li><a href="news-left-sidebar.html" data-title="News Left Sidebar"><span>News Left Sidebar</span></a></li>
                                            <li><a href="news-timeline.html" data-title="News Timeline"><span>News Timeline</span>
                                                    <div>
                                                        <div class="badge badge-danger">Hot</div>
                                                    </div>
                                                </a></li>
                                            <li><a href="news-post.html" data-title="News Post"><span>News Post</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="contacts.html" data-title="Contacts">
                                            <span>Contacts</span>
                                            <i class="material-icons">expand_more</i>
                                        </a>
                                        <ul>
                                            <li><a href="contacts.html" data-title="Classic"><span>Classic</span></a></li>
                                            <li><a href="contacts-offices.html" data-title="Classic – Offices"><span>Classic – Offices</span></a></li>
                                            <li><a href="contacts-company.html" data-title="Company"><span>Company</span></a></li>
                                            <li><a href="contacts-company-classic.html" data-title="Company Classic"><span>Company Classic</span></a></li>
                                            <li><a href="contacts-agency.html" data-title="Agency Classic"><span>Agency Classic</span></a></li>
                                            <li><a href="contacts-agency-offices.html" data-title="Agency Classic – Offices"><span>Agency Classic – Offices</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav><!-- End main menu -->
                        </div>
                        <div class="col-auto header-fixed-col col-static">
                            <!-- Begin header actions -->
                            <ul class="header-actions">
                                <!-- Begin header account -->
                                <li class="d-none d-sm-block">
                                    <div class="header-action-icon side-open header-account" data-side=".side-account">
                                        <i class="material-icons md-24">login</i>
                                    </div>
                                </li><!-- End header account -->
                                <!-- Begin header wishlist -->
                                <li class="d-none d-sm-block">
                                    <div class="header-action-icon header-wishlist wishlist_popup_open">
                                        <i class="material-icons md-24">favorite_border</i>
                                        <span class="ha-count">3</span>
                                    </div>
                                </li><!-- End header wishlist -->
                                <!-- Begin header cart -->
                                <li>
                                    <div class="header-action-icon side-open header-cart" data-side=".side-cart">
                                        <i class="material-icons material-icons-outlined md-22">shopping_cart</i>
                                        <span class="ha-count">3</span>
                                    </div>
                                </li><!-- End header cart -->
                                <!-- Begin header languarge -->
                                <li class="d-none d-lg-block">
                                    <div class="header-lang">
                                        <div class="header-lang-current"><i class="material-icons md-22">language</i></div>
                                        <ul class="header-lang-list">
                                            <li class="active"><a href="404.html#!" class="hover-link" data-lang="En" data-title="English"><span>English</span></a></li>
                                            <li><a href="404.html#!" class="hover-link" data-lang="Sp" data-title="Spanish"><span>Spanish</span></a></li>
                                            <li><a href="404.html#!" class="hover-link" data-lang="It" data-title="Italian"><span>Italian</span></a></li>
                                            <li><a href="404.html#!" class="hover-link" data-lang="Uk" data-title="Ukraine"><span>Ukraine</span></a></li>
                                            <li><a href="404.html#!" class="hover-link" data-lang="Ru" data-title="Russian"><span>Russian</span></a></li>
                                        </ul>
                                    </div>
                                </li><!-- End header languarge -->
                                <!-- Begin header search -->
                                <li>
                                    <div class="header-search">
                                        <div class="header-action-icon header-search-ico">
                                            <i class="material-icons md-22 header-search-ico-search">search</i>
                                            <i class="material-icons md-22 header-search-ico-close">close</i>
                                        </div>
                                        <form action="404.html#!" method="post" class="header-search-form">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-field">
                                                            <label for="field-search" class="form-field-label">Search...</label>
                                                            <input type="search" class="form-field-input" name="Search" value="" autocomplete="off" id="field-search">
                                                            <button type="submit" class="header-search-btn"><i class="material-icons md-22">search</i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li><!-- End header search -->
                                <!-- Begin header navbar -->
                                <li class="d-block d-lg-none">
                                    <div class="header-navbar">
                                        <div class="header-navbar-btn">
                                            <i class="material-icons md-24">more_vert</i>
                                        </div>
                                        <ul class="header-navbar-content">
                                            <li>
                                                <ul class="header-actions">
                                                    <!-- Begin header account -->
                                                    <li class="d-block d-sm-none">
                                                        <div class="header-action-icon side-open header-account" data-side=".side-account">
                                                            <i class="material-icons md-24">login</i>
                                                        </div>
                                                    </li><!-- End header account -->
                                                    <!-- Begin header wishlist -->
                                                    <li class="d-block d-sm-none">
                                                        <div class="header-action-icon header-wishlist wishlist_popup_open">
                                                            <i class="material-icons md-24">favorite_border</i>
                                                            <span class="ha-count">3</span>
                                                        </div>
                                                    </li><!-- End header wishlist -->
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="mailto:mail@example.com">
                                                    <i class="material-icons md-20">mail_outline</i>
                                                    <span>mail@example.com</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="mailto:mail@example.com" class="formingHrefTel">
                                                    <i class="material-icons md-20">support_agent</i>
                                                    <span>1-888-777-1234</span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="btn-group align-items-center">
                                                    <a href="404.html#header_modal" class="header-button header_modal_open">
                                                        <i class="material-icons">ring_volume</i>
                                                        <span>Callback</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <!-- Begin widget socials -->
                                                <ul class="widget-socials">
                                                    <li>
                                                        <a href="404.html#!" title="Facebook">
                                                            <svg viewBox="0 0 320 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#facebook-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html#!" title="Instagram">
                                                            <svg viewBox="0 0 448 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#instagram-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html#!" title="LinkedIn">
                                                            <svg viewBox="0 0 448 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#linkedin-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html#!" title="Twitter">
                                                            <svg viewBox="0 0 512 512">
                                                                <use xlink:href="{% static 'pages/img/sprite.svg' %}#twitter-icon"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul><!-- End widget socials -->
                                            </li>
                                        </ul>
                                    </div>
                                </li><!-- End header navbar -->
                            </ul><!-- End header actions -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav><!-- End header fixed -->