{% load static %}

<div class="section-bgc intro">
    <div class="flickity-dots-absolute flickity-dots-white" data-flickity='{ "bgLazyLoad": 1, "bgLazyLoad": true, "fade": true, "prevNextButtons": false, "autoPlay": 7000, "pauseAutoPlayOnHover": false }''>
        <div class="intro-item intro-item-type-3" data-flickity-bg-lazyload="{% static 'pages/img/intro-img9.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="intro-box">
                            <div class="section-heading shm-none">
                                <div class="section-subheading">Multipurpose</div>
                                <h1>#1 The Fastest HTML5 Template</h1>
                                <p class="section-desc">You can create a website for any business. The template has many different sections and section types from which you can create your own unique website. </p>
                            </div>
                            <div class="btn-group intro-btns">
                                <a href="ui.html" class="btn btn-with-icon btn-small ripple">
                                    <span>UI elements</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'pages/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                                <a href="#!" class="btn btn-with-icon btn-border btn-small ripple">
                                    <span>Get in Touch</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'pages/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-item intro-item-type-3" data-flickity-bg-lazyload="{% static 'pages/img/intro-img8.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="intro-box">
                            <div class="section-heading shm-none">
                                <div class="section-subheading">Multipurpose</div>
                                <h2>IT Solution for Your Business</h2>
                                <p class="section-desc">Since our establishment, we have been delivering high-quality and sustainable software solutions for corporate business purposes.</p>
                            </div>
                            <div class="btn-group intro-btns">
                                <a href="ui.html" class="btn btn-with-icon btn-small ripple">
                                    <span>UI elements</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'pages/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                                <a href="#!" class="btn btn-with-icon btn-border btn-small ripple">
                                    <span>Get in Touch</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'pages/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-item intro-item-type-3" data-flickity-bg-lazyload="{% static 'pages/img/intro-img7.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="intro-box">
                            <div class="section-heading shm-none">
                                <div class="section-subheading">Multipurpose</div>
                                <h2>#1 The Fastest HTML5 Template</h2>
                                <p class="section-desc">You can create a website for any business. The template has many different sections and section types from which you can create your own unique website. </p>
                            </div>
                            <div class="btn-group intro-btns">
                                <a href="ui.html" class="btn btn-with-icon btn-small ripple">
                                    <span>UI elements</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'pages/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                                <a href="#!" class="btn btn-with-icon btn-border btn-small ripple">
                                    <span>Get in Touch</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="{% static 'pages/img/sprite.svg#arrow-right' %}"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
