{% load static %}

<!-- Begin header top -->
<nav class="header-top">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <!-- Begin header top info -->
                <ul class="header-top-info">
                    <li>
                        <a href="mailto:mail@example.com">
                            <i class="material-icons md-18">mail_outline</i>
                            <span>mail@example.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:mail@example.com" class="formingHrefTel">
                            <i class="material-icons md-18">phone_in_talk</i>
                            <span>+1-888-777-1234</span>
                        </a>
                    </li>
                    <li>
                        <i class="material-icons material-icons-outlined md-18">schedule</i>
                        <span>Mon - Fri: 9:00 - 18:00</span>
                    </li>
                </ul><!-- Ennd header top info -->
            </div>
            <div class="col-auto">
                <div class="header-top-links">
                    <!-- Begin widget socials -->
                    <ul class="widget-socials">
                        <li>
                            <a href="404.html#!" title="Facebook">
                                <svg viewBox="0 0 320 512">
                                    <use xlink:href="{% static 'pages/img/sprite.svg' %}#facebook-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="404.html#!" title="Instagram">
                                <svg viewBox="0 0 448 512">
                                    <use xlink:href="{% static 'pages/img/sprite.svg' %}#instagram-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="404.html#!" title="LinkedIn">
                                <svg viewBox="0 0 448 512">
                                    <use xlink:href="{% static 'pages/img/sprite.svg' %}#linkedin-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="404.html#!" title="Twitter">
                                <svg viewBox="0 0 512 512">
                                    <use xlink:href="{% static 'pages/img/sprite.svg' %}#twitter-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul><!-- End widget socials -->
                    <div class="btn-group-outer">
                        <div class="btn-group align-items-center">
                            <a href="404.html#header_modal" class="header-button header_modal_open">
                                <i class="material-icons">ring_volume</i>
                                <span>Callback</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav><!-- End header top -->