{% load static %}

<nav class="header-top">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <ul class="header-top-info">
                    {% if settings.email %}
                        <li>
                            <a href="mailto:{{ settings.email }}">
                                <i class="material-icons md-18">mail_outline</i>
                                <span>{{ settings.email }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.phone %}
                        <li>
                            <a href="tel:{{ settings.phone }}" class="formingHrefTel">
                                <i class="material-icons md-18">phone_in_talk</i>
                                <span>{{ settings.phone }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if settings.working_time %}
                        <li>
                            <i class="material-icons material-icons-outlined md-18">schedule</i>
                            <span>{{ settings.working_time }}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-auto">
                <div class="header-top-links">
                    <ul class="widget-socials">
                        {% if settings.facebook %}
                            <li>
                                <a href="{{ settings.facebook }}" title="Facebook">
                                    <svg viewBox="0 0 320 512">
                                        <use xlink:href="{% static 'pages/img/sprite.svg' %}#facebook-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.instagram %}
                            <li>
                                <a href="{{ settings.instagram }}" title="Instagram">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="{% static 'pages/img/sprite.svg' %}#instagram-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.linkedin %}
                            <li>
                                <a href="{{ settings.linkedin }}" title="LinkedIn">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="{% static 'pages/img/sprite.svg' %}#linkedin-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if settings.twitter %}
                            <li>
                                <a href="{{ settings.twitter }}" title="Twitter">
                                    <svg viewBox="0 0 512 512">
                                        <use xlink:href="{% static 'pages/img/sprite.svg' %}#twitter-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>