{% load static %}

<script src="{% static 'pages/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/jquery.zoom.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/swiper-bundle.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/slick.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/jquery-range-ui.min.js' %}"></script>
<script src="{% static 'pages/js/vendor/tilt.jquery.min.js' %}"></script>
<script src="{% static 'pages/js/main.js' %}"></script>