#result_list td,
#result_list th {
    vertical-align: middle !important;
}

#result_list {
    min-width: max-content !important;
}

.created_at {
    color: #2ecc71;
}

.updated_at {
    color: #f1c40f;
}

.preview__image {
    width: 50px;
    height: 50px;
    border: 2px outset #81d4fa;
    border-radius: 50%;
    filter: brightness(0.64);
    transition: border 150ms linear, filter 150ms linear;
}

.preview__image:hover {
    border: 2px outset #4ac1f7;
    filter: brightness(1);
}

.slug__link {
    color: #bdc3c7 !important;
}

.slug__link:hover {
    color: #95a5a6 !important;
}

.in_stock {
    background-color: rgba(39, 174, 96, 0.32);
    border: 1px solid #2ecc71;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    color: #2ecc71;
    padding: 4px 8px;
}

.out_of_stock {
    background-color: rgba(192, 57, 43, 0.32);
    border: 1px solid #d35400;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    color: #d35400;
    padding: 4px 8px;
}

.price {
    color: #2ecc71;
}

.discount {
    color: rgba(211, 84, 0, 1.0);
}