.preview__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: brightness(0.5);
    object-fit: cover;
    object-position: center center;
    transition: filter 150ms linear;
}

.preview__image:hover {
    filter: brightness(1);
}

.created {
    color: rgba(39, 174, 96, 1.0);
}

.updated {
    color: rgba(230, 126, 34, 1.0);
}

.brand {
    color: rgba(255, 99, 72, 1.0);
}

.price {
    color: rgba(29, 209, 161, 1.0);
}

.price::before {
    content: "$";
    font-family: "Georgia";
    font-weight: bolder;
    color: rgba(39, 174, 96, 1.0);
    font-size: 16px;
    margin-right: 4px;
    vertical-align: baseline;
}

.discount {
    color: rgba(211, 84, 0, 1.0);
}

.discount::after {
    content: "%";
    font-family: "Georgia";
    font-weight: bolder;
    color: rgba(192, 57, 43, 1.0);
    font-size: 16px;
    margin-left: 4px;
    vertical-align: baseline;
}

td,
th {
    vertical-align: middle !important;
}

table {
    min-width: max-content !important;
}